<div class="d-flex justify-content-center vw-90 mx-auto" *ngIf="bio$ | async as bio">
  <div *ngFor="let options of respOptions" [ngClass]="options.viewClasses"
    class="flex-column align-items-center text-center w-100">
    <h1 [ngClass]="options.headingClass" class="mb-5">My <span class="font-weight-bold">Skills</span></h1>
    <div class="d-flex flex-row justify-content-left align-item-center text-left body-margin">
      <h5>
        <ul>
          <li *ngFor="let item of bio.skills">
            <span><span class="font-weight-bold">{{item.level}}: </span></span>
            <span *ngFor="let set of item.set">{{set}} ♠️ </span>
          </li>
        </ul>
      </h5>

    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/angular-icon.png" class="icon">
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/NET_Core_icon.png" class="icon">
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/Azure_icon.png" class="icon">
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/ado_icon.png" class="icon">
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/Git_icon.png" class="icon">
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/jira_icon.png" class="icon">
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/Git_icon.png" class="icon">
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/k8s_icon.png" class="icon">
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/python_icon.png" class="icon">
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/postgres_icon.png" class="icon">
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/sql_server_icon.png" class="icon">
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/ps_icon.png" class="icon">
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/c_icon.png" class="icon">
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/android_icon.png" class="icon">
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/jenkins_icon.png" class="icon">
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/figma_icon.png" class="icon">
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/unity_icon.png" class="icon">
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex flex-column w-70">
            <img src="../../../assets/image/aem_icon.png" class="icon">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>