<div class="d-flex justify-content-center vw-90 mx-auto" *ngIf="positions$ | async as position">
    <div *ngFor="let options of respOptions" [ngClass]="options.viewClasses"
        class="flex-column align-items-center text-center w-100">
        <h1 [ngClass]="options.headingClass" class="mb-5"> <span class="font-weight-bold">I Used To Be</span></h1>
        <div class="w-70 justify-content-center body-margin">
            <ul class="pvs-list ph5 d-flex flex-row flex-wrap">
                <li class="artdeco-list__item pvs-list__item--line-separated pvs-list__item--one-column">
                    <div class="pvs-entity pvs-entity--padded pvs-list__item--no-padding-when-nested">
                        <div>
                            <a data-field="experience_company_logo" class="optional-action-target-wrapper d-flex"
                                target="_self" tabindex="-1" aria-hidden="true"
                                href="https://www.linkedin.com/company/97174465/">
                                <div class="pvs-entity__image ">
                                    <div class="d-flex">
                                        <div class="EntityPhoto-square-3-ghost-company ">
                                            <img width="48"
                                                src="https://media.licdn.com/dms/image/D560BAQEtpvfTmckggg/company-logo_100_100/0/1695093434986/pacific_solar_car_project_logo?e=1712188800&v=beta&t=bfvraJ57TBO0SYBPEtJVDvXKQrb2myApKXYr8vdMY64"
                                                loading="lazy" height="48" alt="Netcompany logo" id="ember175"
                                                class="EntityPhoto-square-3  lazy-image ember-view">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="d-flex flex-column w-100 align-self-center">
                            <div class="d-flex flex-row justify-content-between">
                                <div class="d-flex flex-column w-100">
                                    <div class="d-flex align-items-center">
                                        <span class="mr-1 font-weight-bold">
                                            <span aria-hidden="true">
                                                Telematics Team Lead
                                            </span>
                                            <span class="visually-hidden">
                                                Telematics Team Lead
                                            </span>
                                        </span>

                                    </div>
                                    <span class="h6 font-weight-normal">
                                        <span aria-hidden="true">
                                            Pacific Solar Car Project · Freelance
                                        </span>
                                        <span class="visually-hidden">
                                            Pacific Solar Car Project · Freelance
                                        </span>
                                    </span>
                                    <span class="h6 font-weight-normal t-black--light">
                                        <span aria-hidden="true">
                                            Sep 2022 - Present
                                        </span>
                                        <span class="visually-hidden">
                                            Sep 2022 - Present
                                        </span>
                                    </span>
                                    <span class="h6 font-weight-normal t-black--light">
                                        <span aria-hidden="true">
                                            United States
                                        </span>
                                        <span class="visually-hidden">
                                            United States
                                        </span>
                                    </span>

                                </div>
                            </div>

                            <div class="pvs-list__outer-container">
                                <ul class="pvs-list">
                                    <li class=" ">
                                        <div class="pvs-list__outer-container">
                                            <ul class="pvs-list">
                                                <li class="pvs-list__item--with-top-padding ">
                                                    <div class="d-flex ">
                                                        <div class="d-flex w-100">
                                                            <div class="w-100 h6 font-weight-normal t-black d-flex align-items-center">
                                                                <div class="inline-show-more-text w-100" tabindex="-1">
                                                                    <span aria-hidden="true">
                                                                        Project manager in Solar Car Club of University of The Pacific<br>
                                                                        Competing Formular Sun American and International contest<br>
                                                                        Building car Telematics Control Unit, Azure Cognitive Service, and Android HMI device<br>
                                                                        Managing and instructing a team with around 20 members
                                                                    </span>
                                                                    <span class="visually-hidden">
                                                                        Project manager in Solar Car Club of University of The Pacific Competing Formular Sun American and International contest Building car Telematics Control Unit, Azure Cognitive Service, and Android HMI device Managing and instructing a team with around 20 members
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class=" ">
                                        <div class="pvs-list__outer-container">
                                            <ul class="pvs-list">
                                                <li class="pvs-list__item--with-top-padding ">
                                                    <div class="d-flex ">
                                                        <div class="d-flex w-100">
                                                            <div
                                                                class="w-100 h6 font-weight-normal t-black d-flex align-items-center">
                                                                <div class="inline-show-more-text w-100" tabindex="-1">
                                                                    <span aria-hidden="true">
                                                                        <strong>Skills: </strong>Robotics ·Android Automative · Microsoft Azure · Agile Methodologies
                                                                    </span>
                                                                    <span class="visually-hidden">
                                                                        <strong>Skills: </strong>Robotics ·Android Automative · Microsoft Azure · Agile Methodologies
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </li>
                <!-- <li 
                class="artdeco-list__item pvs-list__item--line-separated pvs-list__item--one-column"
                *ngfor="let position in positions"
                >
                    <div class="pvs-entity pvs-entity--padded pvs-list__item--no-padding-when-nested">
                        <div>
                            <a data-field="experience_company_logo" 
                            class="optional-action-target-wrapper d-flex" 
                            target="_self" 
                            href="https://www.linkedin.com/company/8636/"
                            >
                                <div class="pvs-entity__image ">
                                    <div class="d-flex">
                                        <img width="48"
                                            src="https://media.licdn.com/dms/image/C560BAQFPsmm4x1o9nw/company-logo_100_100/0/1660254133836/university_of_the_pacific_logo?e=1712188800&v=beta&t=fcYTI9j0oSHTCsUYN0ztajq4oe978mJNxBBI_0JQRcM"
                                            loading="lazy" height="48" alt="UOP logo" id="ember175"
                                            class="EntityPhoto-square-3  lazy-image ember-view">
                                    </div>
                                </div>
                            </a>

                        </div>

                        <div class="d-flex flex-column w-100 align-self-center">
                            <div class="d-flex flex-row justify-content-between">
                                <a 
                                data-field="experience_company_logo" 
                                class="optional-action-target-wrapper d-flex flex-column w-100" 
                                target="_self" 
                                href="https://www.linkedin.com/company/215128/">
                                    <div class="d-flex align-items-center">
                                        <span class="mr-1 hoverable-link-text font-weight-bold">
                                            <span aria-hidden="true">
                                                University of The Pacifc: SOECS
                                            </span>
                                            <span class="visually-hidden">
                                                University of The Pacifc: SOECS
                                            </span>
                                        </span>

                                    </div>
                                    <span class="h6 font-weight-normal">
                                        <span aria-hidden="true">
                                            Full-time & Part-time · 5 mos
                                        </span>
                                        <span class="visually-hidden">
                                            Full-time & Part-time · 5 mos
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="pvs-list__outer-container">
                                <ul class="pvs-list">
                                    <li class=" ">
                                        <span class="pvs-entity__path-node"></span>
                                        <div class="pvs-entity pvs-entity--with-path">
                                            <div class="d-flex flex-column w-100 align-self-center">
                                                <div class="d-flex flex-row justify-content-between">
                                                    <a 
                                                        class="optional-action-target-wrapper d-flex flex-column w-100" 
                                                        target="_self" 
                                                        href="https://www.linkedin.com/company/215128/">
                                                        <div class="d-flex align-items-center">
                                                            <span class="mr-1 hoverable-link-text font-weight-bold">
                                                                <span aria-hidden="true">
                                                                    Summer AI Robotics
                                                                </span>
                                                                <span class="visually-hidden">
                                                                    Summer AI Robotics
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <span class="h6 font-weight-normal t-black--light">
                                                            <span aria-hidden="true">
                                                                Jul 2023 - Sep 2021 · 3 mos
                                                            </span>
                                                            <span class="visually-hidden">
                                                                May 2023 - Jun 2023 · 2 mos
                                                            </span>
                                                        </span>

                                                    </a>
                                                    <div class="pvs-entity__action-container">

                                                    </div>
                                                </div>

                                                <div class="pvs-list__outer-container">

                                                    <ul class="pvs-list">
                                                        <li class=" ">
                                                            <div class="pvs-list__outer-container">
                                                                <ul class="pvs-list">
                                                                    <li class="pvs-list__item--with-top-padding ">
                                                                        <div class="d-flex ">
                                                                            <div class="d-flex w-100">
                                                                                <div class="pv-shared-text-with-see-more w-100 h6 font-weight-normal t-black d-flex align-items-center">
                                                                                    <div 
                                                                                    class="inline-show-more-text inline-show-more-text--is-collapsed w-100" 
                                                                                    tabindex="-1">
                                                                                        <span
                                                                                            aria-hidden="true">Developed Smarter Airport internal system. Core components: SRM, User
                                                                                            Profile, and Core UI.
                                                                                            Designed
                                                                                            logical and physical design
                                                                                            of
                                                                                            the
                                                                                            system.<br>Technologies:
                                                                                            Angular, .NET core,
                                                                                            PostgreSQL.</span><span
                                                                                            class="visually-hidden">Developed
                                                                                            Smarter Airport internal
                                                                                            system.
                                                                                            Core components: SRM, User
                                                                                            Profile, and Core UI.
                                                                                            Designed
                                                                                            logical and physical design
                                                                                            of
                                                                                            the system.
                                                                                            Technologies: Angular, .NET
                                                                                            core, PostgreSQL.</span>



                                                                                    </div>
                                                                                </div>


                                                                            </div>

                                                                        </div>

                                                                    </li>
                                                                </ul>

                                                            </div>

                                                        </li>
                                                        <li class=" ">
                                                            <div class="pvs-list__outer-container">

                                                                <ul class="pvs-list
        
        ">
                                                                    <li class="pvs-list__item--with-top-padding ">
                                                                        <div class="d-flex ">
                                                                            <div class="
      d-flex w-100">


                                                                                <div
                                                                                    class="pv-shared-text-with-see-more w-100 h6 font-weight-normal t-black d-flex align-items-center">
                                                                                    <div class="inline-show-more-text
    inline-show-more-text--is-collapsed
    
    
    
     w-100" tabindex="-1">

                                                                                        <span
                                                                                            aria-hidden="true"><strong>Skills:</strong><span
                                                                                                class="white-space-pre">
                                                                                            </span>Angular · Git ·
                                                                                            PostgreSQL · Entity
                                                                                            Framework ·
                                                                                            .NET Core</span><span
                                                                                            class="visually-hidden"><strong>Skills:</strong><span
                                                                                                class="white-space-pre">
                                                                                            </span>Angular · Git ·
                                                                                            PostgreSQL · Entity
                                                                                            Framework ·
                                                                                            .NET Core</span>


                                                                                    </div>
                                                                                </div>


                                                                            </div>

                                                                        </div>

                                                                    </li>
                                                                </ul>

                                                            </div>

                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                    <li class=" ">
                                        <span class="pvs-entity__path-node"></span>
                                        <div class="pvs-entity
    
    
    ">
                                            <div>
                                                <div class="
        d-flex" tabindex="-1" aria-hidden="true">


                                                </div>

                                            </div>

                                            <div class="d-flex flex-column w-100 align-self-center">
                                                <div class="d-flex flex-row justify-content-between">
                                                    <a class="optional-action-target-wrapper 
          d-flex flex-column w-100" target="_self" href="https://www.linkedin.com/company/215128/">
                                                        <div class="d-flex align-items-center">
                                                            <span class="mr-1 hoverable-link-text font-weight-bold">
                                                                <span aria-hidden="true">DevOps
                                                                    Consultant</span><span
                                                                    class="visually-hidden">DevOps
                                                                    Consultant</span>
                                                            </span>

                                                        </div>
                                                        <span class="h6 font-weight-normal t-black--light">
                                                            <span aria-hidden="true">Nov 2020 - Jan 2021 · 3
                                                                mos</span><span class="visually-hidden">Nov
                                                                2020 - Jan 2021 · 3 mos</span>
                                                        </span>
                                                        <span class="h6 font-weight-normal t-black--light">
                                                            <span aria-hidden="true">Vietnam</span><span
                                                                class="visually-hidden">Vietnam</span>
                                                        </span>
                                                    </a>



                                                    <div class="pvs-entity__action-container">

                                                    </div>
                                                </div>

                                                <div class="pvs-list__outer-container">

                                                    <ul class="pvs-list
        
        ">
                                                        <li class=" ">
                                                            <div class="pvs-list__outer-container">

                                                                <ul class="pvs-list
        
        ">
                                                                    <li class="pvs-list__item--with-top-padding ">
                                                                        <div class="d-flex ">
                                                                            <div class="
      d-flex w-100">


                                                                                <div
                                                                                    class="pv-shared-text-with-see-more w-100 h6 font-weight-normal t-black d-flex align-items-center">
                                                                                    <div class="inline-show-more-text
    inline-show-more-text--is-collapsed
    
    
    
     w-100" tabindex="-1">

                                                                                        <span aria-hidden="true">Created
                                                                                            pipelines, monitored Smarter
                                                                                            Airport development
                                                                                            systems.<br>Technologies:
                                                                                            EFK stacks, Kafka,
                                                                                            Kubernetes,
                                                                                            Powershell Script,
                                                                                            ADO</span><span
                                                                                            class="visually-hidden">Created
                                                                                            pipelines, monitored Smarter
                                                                                            Airport development systems.
                                                                                            Technologies: EFK stacks,
                                                                                            Kafka,
                                                                                            Kubernetes, Powershell
                                                                                            Script,
                                                                                            ADO</span>


                                                                                    </div>
                                                                                </div>


                                                                            </div>

                                                                        </div>

                                                                    </li>
                                                                </ul>

                                                            </div>

                                                        </li>
                                                        <li class=" ">
                                                            <div class="pvs-list__outer-container">

                                                                <ul class="pvs-list
        
        ">
                                                                    <li class="pvs-list__item--with-top-padding ">
                                                                        <div class="d-flex ">
                                                                            <div class="d-flex w-100">
                                                                                <div
                                                                                    class="pv-shared-text-with-see-more w-100 h6 font-weight-normal t-black d-flex align-items-center">
                                                                                    <div class="inline-show-more-text inline-show-more-text--is-collapsed w-100" tabindex="-1">

                                                                                        <span
                                                                                            aria-hidden="true"><strong>Skills:</strong><span
                                                                                                class="white-space-pre">
                                                                                            </span>Git · Adobe Analytics
                                                                                            ·
                                                                                            Adobe Experience Manager
                                                                                            (AEM)</span><span
                                                                                            class="visually-hidden"><strong>Skills:</strong><span
                                                                                                class="white-space-pre">
                                                                                            </span>Git · Adobe Analytics
                                                                                            ·
                                                                                            Adobe Experience Manager
                                                                                            (AEM)</span>


                                                                                    </div>
                                                                                </div>


                                                                            </div>

                                                                        </div>

                                                                    </li>
                                                                </ul>

                                                            </div>

                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </li> -->
            </ul>
        </div>
    </div>

</div>