<div class="d-flex justify-content-center vw-90 mx-auto" *ngIf="bio$ | async as bio">
    <div *ngFor="let options of respOptions" [ngClass]="options.viewClasses"
        class="flex-column align-items-center text-center w-100">
        <div class="jumbotron">
            <h1 class="display-4">Connect with me</h1>
            <p class="lead">This is a place that you can find me</p>
            <hr class="my-4">
            <div class="container">
                <div class="row">
                    <div class="col-sm" *ngFor="let item of bio.connections">
                        <p>{{item.description}}</p>
                        <a class="btn btn-primary btn-lg" [href]="item.url" role="button">
                            <i [ngClass]="item.icon"></i>
                            {{item.name}}
                        </a>
                    </div>
                </div>
            </div>



        </div>
    </div>

</div>